[submodule "libkrun"]
	path = libkrun
	url = https://github.com/smol-machines/libkrun.git
[submodule "libkrunfw"]
	path = libkrunfw
	url = https://github.com/smol-machines/libkrunfw.git
[submodule "smolvm-sdk"]
	path = smolvm-sdk
	url = https://github.com/smol-machines/smolvm-sdk.git
